
@media (min-width:600px){
  .desktop{
    display:none;
  }

  .main{
    padding-bottom: 5%;
  }
}

@media (max-width:600px){
  .mobile{
    display: none
  }

  .last{
      margin-bottom: 24px;
      padding-bottom: 200px
  }
}
.grid > *{
    margin: 16px;
}
